@import url("https://fonts.googleapis.com/css2?family=Sacramento&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cursive-font: "Sacramento", cursive;
  --regular-font: "Work Sans", sans-serif;
  --pink-color: rgb(250, 111, 255);
  --txt-shadow: 2px 2px 2px #000000bd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid rebeccapurple; */
}

body {
  overflow: hidden;
}

/* HERO */
.hero::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../img/hero-bg.png);
  background-position: 50% 50%;
  background-size: cover;
}

.hero {
  position: relative;
  color: white;
  text-shadow: var(--txt-shadow);
  text-align: center;
  min-height: 100vh;
  padding: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero .top-part {
  font-family: var(--cursive-font);
}

.hero .top-part h3 {
  font-size: 2rem;
}

.hero .top-part h1 {
  font-size: 5rem;
}

.hero .top-part p {
  font-size: 1.5rem;
}

.hero .bot-part {
  font-family: var(--regular-font);
  font-weight: 300;
}

.hero .bot-part p {
  font-size: 2.3rem;
}

.enable-scroll {
  overflow: scroll;
}

.hero .bot-part button {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 1.8rem;
  color: white;
  background-color: var(--pink-color);
  text-shadow: var(--txt-shadow);
  border: none;
  border-radius: 5rem;
  padding: 1rem;
  transition: 0.3s ease-in-out;
}

.hero .bot-part button:hover {
  color: var(--pink-color);
  background-color: white;
  text-shadow: none;
  cursor: pointer;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  padding: 0.2rem 2rem;
  min-height: 40px;
  color: white;
  background-color: var(--pink-color);
  z-index: 2;
}

.navbar .logo {
  font-family: var(--cursive-font);
  font-weight: bolder;
  font-size: 2rem;
  float: left;
}

.navbar .links {
  padding-top: 0.3rem;
  float: right;
}

.navbar .links a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-family: var(--regular-font);
  font-size: 1.3rem;
}

.navbar .links a:hover {
  color: pink;
}

.navbar .links a:active {
  color: red;
}

.navbar .icon {
  display: none;
  color: white;
}

.topnav {
  transition: 1s ease-in-out;
}

/* HOME */
.home {
  background: url(../img/home-bg2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
}

.home > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 0;
  gap: 4rem;
}

/* HOME-TOP */
.home .top-part {
  padding: 0 30rem;
  text-shadow: 1.5px 1.5px 2px #0000002f;
}

.home .top-part h2 {
  font-family: var(--cursive-font);
  font-size: 6rem;
  color: var(--pink-color);
}

.home .top-part h3 {
  font-family: var(--regular-font);
  font-weight: 300;
  font-size: 1.4rem;
  color: rgb(54, 54, 54);
  margin-top: 2rem;
}

.home .top-part p {
  font-family: var(--regular-font);
  font-size: 1.2rem;
  margin-top: 0.7rem;
  font-weight: 300;
  color: rgb(68, 68, 68);
}

/* HOME-BOT */

.home .bot-part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-basis: 60%;
  padding: 0 3rem;
  text-shadow: 1.5px 1.5px 2px #0000002f;
}

.home .bot-part .groom {
  display: flex;
  gap: 2rem;
}

.home .bot-part .groom img {
  width: 300px;
  height: 300px;
  border-radius: 40%;
  margin-top: 50px;
}
.home .bot-part .groom .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home .bot-part .groom .text h2 {
  flex-basis: 30%;
  font-family: var(--cursive-font);
  font-size: 2.5rem;
  color: var(--pink-color);
}

.home .bot-part .groom .text p {
  font-family: var(--regular-font);
  font-weight: 300;
}

.home .bot-part .groom.male .text {
  text-align: end;
}

.home .bot-part .groom.male .text p {
  padding-left: 10rem;
}

.home .bot-part .groom.female .text {
  text-align: start;
}

.home .bot-part .groom.female .text p {
  padding-right: 10rem;
}

/* INFO */
.info {
  text-align: center;
  background: url(../img/info-bg3.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  font-family: var(--regular-font);
  text-shadow: 1.5px 1.5px 2px #0000004b;
  padding: 3rem 0;
}

.info h2 {
  font-family: var(--cursive-font);
  font-size: 6rem;
  color: var(--pink-color);
}

.info .top-part {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 15rem;
  width: 80vw;
}

.info .top-part .divider {
  border: 2px solid var(--pink-color);
  border-radius: 5rem;
}

.info .top-part .akad,
.info .top-part .nikah,
.info .mid-part .text,
.info .mid-part .maps {
  flex-basis: 40%;
}

.info .top-part .akad h3,
.info .top-part .nikah h3,
.info .mid-part .text h3 {
  font-family: var(--cursive-font);
  font-size: 3rem;
  color: var(--pink-color);
}

.info .top-part .akad p,
.info .top-part .nikah p,
.info .mid-part .text p {
  font-size: 1.2rem;
  font-weight: 300;
}

.info .mid-part .text p {
  margin-bottom: 2rem;
}

.info .mid-part .maps iframe {
  width: 100%;
  height: 30rem;
}

.info .bot-part {
  text-align: justify;
  width: 70vw;
  font-size: 1.2rem;
  font-weight: 300;
}

/* STORY */
.story::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/story-bg.png);
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

.story {
  position: relative;
  text-align: center;
  font-family: var(--regular-font);
  padding: 5rem 0;
}

.story .top-part {
  text-shadow: 1.5px 1.5px 2px #0000002f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story .top-part h3 {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(75, 75, 75);
}

.story .top-part h2 {
  font-family: var(--cursive-font);
  font-size: 6rem;
  color: var(--pink-color);
}

.story .top-part p {
  width: 80vw;
  font-weight: 300;
  font-size: 1.2rem;
}

.story .bot-part {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
  color: white;
}

/* timeline middle line */
.story .bot-part::after {
  content: "";
  position: absolute;
  width: 6px;

  /* timeline middle line bot point */
  height: 75%;

  background: var(--pink-color);

  /* timeline middle line top point */
  top: 25px;

  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

.timeline-line-animation {
  animation: moveline 3.5s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 75%;
  }
}

/* timeline text-box */
.story .bot-part .container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  opacity: 0;
}

.text-box-animation {
  animation: movedown 0.3s linear forwards;
  animation-delay: .5s;
}

@keyframes movedown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .story .bot-part .container:nth-child(1) {
  animation-delay: 0s;
}

.story .bot-part .container:nth-child(2) {
  animation-delay: 1s;
}

.story .bot-part .container:nth-child(3) {
  animation-delay: 2s;
}

.story .bot-part .container:nth-child(4) {
  animation-delay: 3s;
} */


/* timeline text-box */
.story .bot-part .container .text-box {
  padding: 20px 30px;
  background-color: var(--pink-color);
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  text-align: justify;
}

/* timeline left text-box */
.story .bot-part .left-container {
  left: 0;
  text-align: start;
}

/* timeline right text-box */
.story .bot-part .right-container {
  left: 50%;
  text-align: end;
}

/* timeline middle picture */
.story .bot-part .container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 20px;
  z-index: 1;
}

.story .bot-part .right-container img {
  left: -20px;
}

/* timeline pointing arrow */
.story .bot-part .left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 22px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid var(--pink-color);
  right: -15px;
}

.story .bot-part .right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 22px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid var(--pink-color);
  left: -15px;
}

/* GALLERY */
.gallery {
  font-family: var(--regular-font);
  background: url(../img/gallery-bg2.png);
  background-size: cover;
  padding: 5rem 0;
}

.gallery .top-part {
  text-align: center;
  text-shadow: 1.5px 1.5px 2px #0000002f;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.gallery .top-part h2 {
  font-family: var(--cursive-font);
  font-size: 6rem;
  color: var(--pink-color);
}

.gallery .top-part p {
  /* padding: 0 20rem; */
  font-weight: 300;
  font-size: 1.2rem;
}

.gallery .bot-part {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gallery .bot-part img {
  width: 100%;
  border: 0 solid var(--pink-color);
  border-radius: 8px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.336);
}

.gallery .bot-part a {
  width: 30%;
  margin: 0.5rem;
  opacity: 0;
}

/* GIFT */
.gift {
  font-family: var(--regular-font);
  padding: 5rem 0;
  text-shadow: 1.5px 1.5px 2px #0000002f;
}

/* top-part */
.gift .top-part {
  text-align: center;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.gift .top-part h3 {
  font-weight: 300;
  font-size: 1rem;
  color: rgb(75, 75, 75);
}

.gift .top-part h2 {
  font-family: var(--cursive-font);
  font-size: 6rem;
  color: var(--pink-color);
}

.gift .top-part p {
  font-size: 1.2rem;
  font-weight: 300;
}

/* bot-part */
.gift .bot-part {
  width: 80vw;
  height: 430px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.gift .bot-part .container {
  border: 2px solid var(--pink-color);
  border-radius: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 10px;
}

.gift .bot-part .container > img {
  height: 30px;
}

.gift .bot-part .container h4 {
  font-size: 1.5rem;
}

.gift .bot-part .container .copy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.gift .bot-part .container .copy p {
  flex-basis: 100%;
  font-size: 1.4rem;
  align-self: flex-start;
}

.tooltip {
  display: none;
  padding: 1px 5px;
  background-color: var(--pink-color);
  border-radius: 4px;
  color: #fff;
}

.gift .bot-part .container .copy img:hover {
  cursor: pointer;
}

/* COMMENT */
.comment {
  font-family: var(--regular-font);
  text-align: center;
  padding: 5rem 0;
}

/* top-part */
.comment .top-part {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-shadow: 1.5px 1.5px 2px #0000002f;
}

.comment .top-part h3 {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(75, 75, 75);
}

.comment .top-part h2 {
  font-size: 6rem;
  font-family: var(--cursive-font);
  color: var(--pink-color);
}

.comment .top-part p {
  font-size: 1.2rem;
  font-weight: 300;
}

/* bot-part */
.comment > .bot-part {
  width: 60vw;
  margin: 0 auto;
  font-family: var(--regular-font);
}

/* FOOTER */
footer {
  text-align: center;
  height: 50px;
  background-color: var(--pink-color);
  color: white;
  font-family: var(--regular-font);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

footer h2 {
  font-size: 1rem;
  font-weight: 400;
}

/* MEDIA QUERY */
@media (max-width: 600px) {
  html {
    font-size: 60%;
  }

  /* HERO */
  .hero::before {
    animation: rolling-background 10s ease-out infinite;
  }

  @keyframes rolling-background {
    0%,100% {
      background-image: url(../img/IMG-20240207-WA0019.jpg);
      background-position: 70% 100%;
    }
    25% {
      background-image: url(../img/IMG-20240207-WA0023.jpg);

    }
    50% {
      background-image: url(../img/IMG-20240207-WA0025.jpg);
      background-size: cover;
      background-position: 70% 100%;
      
    }
    75% {
      background-image: url(../img/IMG-20240207-WA0020.jpg);

    }
    /* 100% {
      background-image: url(../img/IMG-20240207-WA0026.jpg);

    } */
  }

  header .bot-part {
    padding-bottom: 10vh;
  }

  /* TOPNAV */
  .navbar .logo {
    padding-top: 0.5rem;
  }

  .navbar .link {
    display: none;
  }
  .navbar .topnav a.icon {
    padding-top: 0.5rem;
    float: right;
    display: block;
    font-size: 2rem;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav .links {
    background-color: var(--pink-color);
    margin-right: -20px;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    color: white;
  }

  .topnav.responsive a.link {
    float: none;
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 2rem;
    margin-right: 10rem;
    padding: 1rem;
  }

  /* HOME */
  .home > .container {
    display: block;
  }

  .home .top-part {
    display: block;
    padding: 0 3rem;
  }

  .home .top-part h2,
  .info h2,
  .story .top-part h2,
  .gallery .top-part h2,
  .gift .top-part h2,
  .comment .top-part h2 {
    font-size: 5rem;
  }

  .home .bot-part {
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
  }

  .home .bot-part .groom h2 {
    flex-basis: 0;
  }

  .home .bot-part .groom img {
    width: 150px;
    height: 150px;
    align-self: center;
    margin-top: 0;
  }

  .home .bot-part .groom.male .text p {
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 115%;
  }

  .home .bot-part .groom.female .text p {
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 115%;
  }

  /* INFO */
  .info .top-part {
    gap: 2rem;
  }

  .info .top-part .divider {
    border-width: 1px;
  }

  .info .top-part .akad h3,
  .info .top-part .nikah h3,
  .info .mid-part .text h3 {
    font-size: 2.3rem;
  }

  .info .top-part .akad p,
  .info .top-part .nikah p,
  .info .mid-part .text p {
    font-size: 1rem;
  }

  .info .mid-part .text p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .info .mid-part .maps iframe {
    width: 80%;
  }

  /* STORY */
  .story .bot-part {
    margin: 50px auto;
  }

  .story .bot-part::after {
    left: 31px;
    right: 0;
  }

  .story .bot-part .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .story .bot-part .container .text-box {
    font-size: 13px;
    text-align: start;
  }

  .story .bot-part .right-container {
    left: 0;
  }

  .story .bot-part .right-container img,
  .story .bot-part .left-container img {
    left: 10px;
  }

  .story .bot-part .left-container-arrow,
  .story .bot-part .right-container-arrow {
    border-right: 15px solid var(--pink-color);
    border-left: 0;
    left: -15px;
  }

  /* GALLERY */
  .gallery .bot-part {
    width: 100vw;
  }


  .gallery .bot-part a {
  width: 45%;
  }

  /* GIFT */
  .gift .bot-part {
    width: 100vw;
    height: 250px;
  }

  .gift .bot-part .container {
    gap: 3px;
    padding: 5px 3px;
    width: 47%;
  }

  .gift .bot-part .container > img {
    height: 20px;
  }

  .gift .bot-part .container .copy p {
    font-size: 1.5rem;
  }

  .gift .bot-part .container .copy img {
    width: 18px;
    height: 18px;
  }

  /* COMMENT */
  .comment > .bot-part {
    width: 90vw;
  }
}
